﻿
@{
    ViewBag.Title = "Html";
}

<h1>HTML</h1>

<div class="test_form">
    <form action="/" method="post">
        <p>姓名: <input type="text" name="form_name"  /></p>
        <p>帳號: <input type="text" name="account" /></p>
        <p>密碼: <input type="password" name="passward" /></p>
        <p>
            性別: 
            <input type="radio" name="male" value="男性" />男性
            <input type="radio" name="female" value="女性" />女性
        </p>
        <p>
            興趣: 
            <input type="checkbox" name="swimming" value="游泳" />游泳
            <input type="checkbox" name="reading" value="閱讀" />閱讀
            <input type="checkbox" name="watch_movie" value="看電影" />看電影
        </p>
        <p>
            自我介紹: 
            <textarea name="user_info"></textarea>
        </p>
    </form>
</div>