﻿
@{
    ViewBag.Title = "Htmlhelper";
}

<h1>Htmlhelper</h1>

<div class="htmlhelper_form">
    <form action="/" method="post">
        <p>姓名: @Html.TextBox("user_name")</p>
        <p>帳號: @Html.TextBox("user_account")</p>
        <p>密碼: @Html.Password("user_passward")</p>
        <p>
            性別: 
            @Html.RadioButton("male", "A")男性
            @Html.RadioButton("female" , "B")女性
        </p>
        <p>
            興趣: 
            @Html.CheckBox("swimming")游泳
            @Html.CheckBox("reading")閱讀
            @Html.CheckBox("watch_movie")看電影
        </p>
        <p>
            自我介紹: 
            @Html.TextArea("user_info")
        </p>
    </form>
</div>

