﻿
@{
    ViewBag.Title = "Razor_prac";
}

<h1>Razor_prac</h1>

@*
@{
    var massage = "Hello world !!";
}

<p>@massage</p>
*@


@*
    @{
        for (int i = 1; i < 10; i++) {
            <p>
            @for (int j = 1; j < 10; j++) {
                <span>@(i)  * @(j) = @(i*j) </span>
            }
            </p>
        }
    }
*@


@*
    @{
        for (int i = 0; i <= 10; i++) {
            <p>@i</p>
        }
     }*@

@{
    String[] fruits = { "蘋果", "香蕉", "荔枝", "鳳梨", "西瓜" };
    <ol>
        @foreach (var x in fruits)
        {
            <li>
                @x
            </li>
        }
    </ol>
}