﻿
@model s1061666.ViewModel.BMIData

<h2>BMI 計算</h2>
<p>BMI = 體重(kg) / 身高(m<sup>2</sup>)</p>
<form action="/BMI/Index" method="get">
    <p>身高<input type="text" name="height" value="@ViewBag.H" />公分</p>
    <p>體重<input type="text" name="weight" value="@ViewBag.W" />公斤</p>
    <input type="submit" name="send" value="送出" />
</form>
<p>計算結果: @Model.Result</p>
<p>等級: @Model.Level</p>